-- This script creates a SQL Server 2016 database named MIMIC3


-- UPDATE THIS CODE to point to the location where you want to store the database files
-- You may need to create the folders before running this code.
CREATE DATABASE [MIMIC3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MIMIC3', FILENAME = N'C:\Users\saiem\Documents\mimic-code-data-1.4.1\MIMIC3.mdf' , SIZE = 1000MB , MAXSIZE = UNLIMITED, FILEGROWTH = 500MB )
 LOG ON 
( NAME = N'MIMIC3_log', FILENAME = N'C:\Users\saiem\Documents\mimic-code-data-1.4.1\MIMIC3_log.ldf' , SIZE = 2200KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
USE [MIMIC3]
GO


USE [MIMIC3]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [MIMIC3] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
